<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3><i class="fa-solid fa-heart" style="color:#fe424d;"></i> My Wishlist</h3>
            <hr>
        </div>
    </div>

    <% if(wishlistListings.length===0){ %>
        <div class="row">
            <div class="col-8 offset-2 text-center mt-4">
                <h5>No added destinations yet!</h5>
                <p>Start exploring and save your favorite places by clicking the <i class="fa-regular fa-heart"></i>
                    icon.</p>
                <a href="/listings" class="btn btn-dark mt-2">Explore All Listings</a>
            </div>
        </div>
        <% } else { %>
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
                <% for(let listing of wishlistListings){ %>
                    <div class="col" style="position:relative;" id="wishlist-card-<%= listing._id %>">
                        <button class="wishlist-btn wishlist-form" data-id="<%= listing._id %>"
                            onclick="removeFromWishlist(event, this)">
                            <i class="fa-solid fa-heart" style="color:#fe424d;"></i>
                        </button>
                        <a href="/listings/<%= listing._id %>" class="listing-link">
                            <div class="card listing-card">
                                <img src="<%= listing.images && listing.images.length > 0 ? listing.images[0].url : (listing.image && listing.image.url ? listing.image.url : 'https://unsplash.com/photos/coconut-tree-near-body-of-water-HfIex7qwTlI') %>"
                                    class="card-img-top" alt="listing_image" style="height: 20rem;">
                                <div class="card-body">
                                    <p class="card-text">
                                        <b>
                                            <%= listing.title %><br>
                                        </b>
                                        &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
            </div>
            <% } %>

                <script>
                    async function removeFromWishlist(e, btn) {
                        e.preventDefault();
                        e.stopPropagation();
                        let id = btn.getAttribute("data-id");
                        try {
                            let res = await fetch("/wishlist/" + id, { method: "POST" });
                            let data = await res.json();
                            if (!data.wishlisted) {
                                let card = document.getElementById("wishlist-card-" + id);
                                card.style.transition = "opacity 0.3s";
                                card.style.opacity = "0";
                                setTimeout(() => { card.remove(); }, 300);
                            }
                        } catch (err) {
                            console.log(err);
                        }
                    }
                </script>